/* src/App.css */

.app-container {
    display: flex;                 /* Kích hoạt chế độ Flexbox */
    justify-content: center;       /* Căn giữa theo chiều ngang (trái - phải) */
    align-items: center;           /* Căn giữa theo chiều dọc (trên - dưới) */

    background-color: #468025;

    height: 100vh;                 /* Chiều cao vùng chứa bằng 100% Viewport Height (toàn màn hình) */
    width: 100vw;                  /* Chiều rộng bằng 100% màn hình */
    margin: 0;                     /* Xóa khoảng trắng thừa */
}